{:paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.9.0"}
        com.datomic/ion {:mvn/version "0.9.7" :exclusions [com.fasterxml.jackson.core/jackson-core]}
        cheshire {:mvn/version "5.8.0"}
        clj-http {:mvn/version "3.9.0"}}

 :mvn/repos {"datomic-cloud" {:url "s3://datomic-releases-1fc2183a/maven/releases"}}

 :aliases
 {:dev {:extra-deps {com.datomic/client-cloud {:mvn/version "0.8.54"}
                     com.datomic/ion-dev {:mvn/version "0.9.160"}}}
  :cider {:extra-deps {cider/cider-nrepl {:mvn/version "0.17.0-SNAPSHOT"}
                       refactor-nrepl {:mvn/version "2.4.0-SNAPSHOT"}}}}}
